<!--Footer Start-->
<div class="container-fluid bg-dark">
  <div class="row">
    <div class="col">
      <h3 class="ml-4  text-white">About Us</h3>
      <ul style="list-style-type: none;">
        <a routerLink="#!/" routerLink="#!/"><li>Carrers</li></a>
        <a routerLink="#!/"><li>Press Releases</li></a>
      </ul>
    </div>
    <div class="col">
      <h3 class="ml-4 text-white">Contact</h3>
      <ul style="list-style-type: none;">
        <a routerLink="#!/"><li>Facebook</li></a>
        <a routerLink="#!/"><li>Twitter</li></a>
        <a routerLink="#!/"><li>Instagram</li></a>
      </ul>
    </div>
    <div class="col">
      <h3 class="ml-4 text-white">Connect with Us</h3>
      <ul style="list-style-type: none;">
        <a routerLink="#!/"><li>Email</li></a>
        <a routerLink="#!/"><li>Phone</li></a>
        <a routerLink="#!/"><li>Customer Care</li></a>
      </ul>
    </div>
  </div>
</div><!--Footer end-->
  
  
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3 bg-secondary">© 2018 Copyright:
    <a routerLink="/home">iMarket.com</a>
  </div><!-- Copyright -->